[2015-07-15 15:47] knocte opened #1 "Should use TryFoo() API?"
First thing I've read in the documentation is the following bit:

[code]

Shouldn't the failures throw exceptions instead? If the consumer of the API prefers that no exceptions are thrown, then additional bool TryFoo(out bar) methods can be supplied.

[2015-07-15 15:59] sdrapkin commented on #1
In case of Encrypt, there should really be no circumstances when null is returned and no exception is thrown. Ie. Encrypt should always succeed & return non-null result or an exception is raised.

In case of Decrypt and Authenticate, "failure" is an expected condition rather than an anomaly. Decrypt will throw on anomalies but will return null on regular decryption-failure events.

[2015-07-15 16:07] cmatskas opened #2 "Examples of using PBKDF2"
Hi,
Is your inclusion of PBKDF2 just the standard library of the .NET implementation or did you create a wrapper around the class? Could you include some samples or maybe even unit tests that could show how to use it?
Thanks,
CM

[2015-07-15 16:13] sdrapkin commented on #2
The PBKDF2 code is not a wrapper around [Rfc2898DeriveBytes](https://msdn.microsoft.com/en-us/library/system.security.cryptography.rfc2898derivebytes%28v=vs.110%29.aspx). It is a reimplementation which uses the source of Microsoft's implementation with some tweaks (to optimize performance and to support HMAC factories).

You can find plenty of usage examples and test vectors in [SecurityDriven.Inf

[2015-07-15 16:19] cmatskas commented on #2
Thanks @sdrapkin. I missed the one massive file with all the tests! Apologies for this. I suppose it makes sense and I like your re-implementation. I will make sure I use it on my next project that requires security baked in. Keep up the good work and feel free to close this issue :)

[2015-07-15 16:23] #2 closed

[2015-07-16 13:45] #1 closed

[2015-07-18 19:42] LordMike opened #3 "Nuget package, .NET 4.5"
Hey,

Could you publish a build for .NET 4.5 (and possible other versions too)?
I may be able to push my project to 4.5.1, but I could imagine others may want the relevant versions.

Great initiative though :).

[2015-07-18 21:01] sdrapkin commented on #3
Hi Mike,

I've updated the Github [release](https://github.com/sdrapkin/SecurityDriven.Inferno/releases/tag/v1.0.0.0) with 4.5 build. Fyi: after January 12, 2016 only .NET 4.5.2 will be supported (should give you an extra argument to push for an upgrade).

Thanks for checking Inferno out - it's among top trending c# projects on Github this week.

[2015-07-18 21:08] LordMike commented on #3
Awesome. :)
If it's no trouble, keeping releases for various .NET versions would be awesome. Your blog says nothing about compatibility issues, but if you can support them, 2.0, 3.5, 4.0 and 4.5.x would be the ones to go for.

[2015-07-18 21:20] sdrapkin commented on #3
I will probably no go below .NET 4.0. Ex. I use ArraySegment a lot, and I don't want to bother polyfilling. I had to backport certain Inferno classes to .NET 3.5 (line-of-business app that can't be moved to 4.x) - I managed to do it but it wasn't pretty.

[2015-07-18 21:26] LordMike commented on #3
Makes sense.

Thanks for the effort, still :+1: .

[2015-07-18 21:27] #3 closed

[2015-08-18 17:23] henning-krause opened #5 "Appending content to an already encrypted file with EtM_EncryptTransform"
I ran into an issue when I tried to append data to an already encrypted file using a new transform with the same key and the correct chunk number:

       private static void Main(string[] args)
        {
            var key = Encoding.ASCII.GetBytes("fooBar");
            var tempStream = new MemoryStream();
            var buffer = new byte[EtM_Transform_Constants.INPUT_BLOCK_SIZE];

[2015-08-19 02:52] sdrapkin commented on #5
It seems to me that what you're trying to do is not aligned with how EtM_EncryptTransform is designed. A single application of EtM_EncryptTransform will generate N chunks, of which 1..N-1 chunks are of length 84928 and the last chunk of length strictly less than 84928 (let's call it LC for Last Chunk). Once you have a chunk with length less than 84928 in your stream, you cannot append any subseque

[2015-08-19 10:04] henning-krause commented on #5
Thanks for the insights... that helped. I've solved the issue now using another way.

[2015-08-19 10:04] #5 closed

[2015-08-19 10:22] henning-krause opened #6 "Provide strong-named assembly in nuget package"
Could you strong-name the assembly you provide in the nuget package?

That would be awesome :-)

[2015-08-19 14:08] sdrapkin commented on #6
Of course I could, but the real question is "should I?"

There seems to be a 'holy war' on whether strong-naming published assemblies is a good idea or not.
https://github.com/octokit/octokit.net/issues/405
https://github.com/octokit/octokit.net/issues/405#issuecomment-41643438
http://jeremydmiller.com/2014/04/28/fubumvc-lessons-learned-strong-naming-woes-and-workarounds/

Based on my cursory unde

[2015-08-19 14:12] henning-krause commented on #6
Hmm.. never had issues with strong-named assemblies. However, people trying to use your nuget package will fail if their projects require strong naming.

On the other hand, a project not requiring a strong name has no problems using a nuget package which has one.

Now I'm in the position of the first group and I thus cannot use it, which is somewhat unfortunate because now I don't get the benefit

[2015-08-19 14:59] sdrapkin commented on #6
Can you share why your project requires strong naming? (not to question it - it just does, I get it - but to have valuable user feedback)

Once an assembly is strong named, you code will strongly bind to a particular version. I don't think you will get the NuGet auto-update benefit you're expecting. Once a newer version gets pushed to NuGet, you're likely to experience [binding problems](http://bl

[2015-09-25 12:13] Alxandr opened #7 "AllowOnlyFipsAlgorithms is useless?"
As far as I can tell, `internal static readonly bool AllowOnlyFipsAlgorithms = true; // cache the FIPS flag` is completely useless. It's both internal, and readonly, meaning there is no way any external code (ie., consumers of Inferno) can change it. Doesn't that mean that all of your `Utils.AllowOnlyFipsAlgorithms ? A : B` are just a waste of computational power? I'm not saying it's a bottleneck

[2015-09-25 17:00] sdrapkin commented on #7
Hi Alxandr, thanks for looking at the code. Let me explain the rationale for having this flag as a variable. The built-in .NET equivalent of this flag is `System.Security.Cryptography.CryptoConfig.AllowOnlyFipsAlgorithms` which is also read-only. While this Inferno flag has no impact on compiled Inferno library, having this flag allows easy testing of performance differences between managed and un

[2015-09-26 12:10] Alxandr commented on #7
Shouldn't it rather be an `#if`-def then? So you could remove all the internal `Func<Alg>` that is unused and can't be used, and if you want to test (and have to change code anyways) you can change a definition `ONLY_FIPS` or something?

[2015-09-28 02:01] sdrapkin commented on #7
Unnecessary `#if/#endif` blocks make it difficult to reason about correctness of code by introspection, which is especially important for crypto libraries. Ex. OpenSSL suffers a great deal from `#ifdef` blocks that make it difficult to follow the logic.

Could the same effect be achieved via `#if/#endif`? Yes. Would it make for cleaner code? IMHO, no.

[2015-09-28 09:59] Alxandr commented on #7
Fair enough. At least now I understand the point of what is essentially (from a distributed-as-a-library standpoint) pointless piece of code. It's intended for consumption when you consume the code in source code, rather than the assembly. Thank you for answering my question :).

On a side-note, for fun (and trying to learn a bit), I "ported" your code to a DNX project, that makes it work on .NET

[2015-09-28 09:59] #7 closed

[2016-01-18 13:04] rodesh commented on #7
Please reconsider your decision to make this a hard-coded internal readonly.  In the built-in .NET equivalent, while the property is readonly (but public), it is controllable by setting the system FIPS policy and configuring whether to enforce the policy in the .NET application config.

I would love to use your library in a project I'm working on, however for reasons beyond my control, I cannot ta

[2016-01-18 20:38] sdrapkin commented on #7
@rodesh FIPS-based crypto-primitive implementations make some scenarios faster-performing and other scenarios slower-performing: it depends on a particular workload. Let's assume for this discussion that no one (myself included) cares about FIPS conformance - correctness and performance are the only goals.

Your particular workload incurs 40x performance hit under FIPS. Inferno's primary usecase -

[2016-01-19 04:03] rodesh commented on #7
Thanks. Not sure how I overlooked reflection.  Will try it out when I get a chance.

[2016-05-05 12:16] veikkoeeva opened #8 "How to add additional authenticated data to AEAD"
Hi!

Very interesting library! I'm currently doing self-studies with cryptography and came across your clean looking library with clear principles listed. I'm not sure if this question belongs here or some other forum, such as Stackoverflow, but here goes.

I'm currently learning AEAD with additional authenticated data, AAD, or AD, as mentioned also at [SecurityDriven.Inferno site](http://security

[2016-05-05 14:18] sdrapkin commented on #8
@veikkoeeva Thank you for your comments - I'm glad you find [Inferno](http://SecurityDriven.NET/inferno/) interesting. The issue you are running into has to do with what `cryptoStream.Flush()` does:
[code]

I.e. it does nothing (Microsoft's code). `cryptoStream.Dispose()`, on the other hand, does something useful - namely calling `cryptoStream.FlushFinalBlock()`. You can either change your code to

[2016-05-05 15:44] veikkoeeva commented on #8
@sdrapkin Oh, you were quick! Thanks, it really helped! Heh, I fell for the old-fashioned one...

Can I take your time a bit still and ask what would be the proper way to add plain-text, authenticated metadata? Now that I made some progress, it appears I have no success in adding that. For instance, that `0|||` would be `0x48 0x128 0x128 0x128`, but I don't see it anywhere in `aeadWithAad`. If one

[2016-05-05 16:15] sdrapkin commented on #8
@veikkoeeva Good question. I don't think there is a "proper way" - it really depends on individual scenarios. It probably makes sense to send the AD before the AE (ie. prepend rather than append), since you'll need AD to start decryption. How you pass the AD payload along with AEAD (or whether you pass it at all, rather than, say, calculate it or extract it from some other data, ex. IP) is out of

[2016-05-05 17:13] veikkoeeva commented on #8
I suppose you are right. I interpreted the the part <blockquote>The EtM Encrypt/Decrypt transforms implement chunked authenticated encryption, and can wrap any .NET stream. Each chunk is independently keyed and authenticated. The "salt" parameter can include Additional Data (AD) or its hash - which will also be authenticated.</blockquote>

to mean I can do something like this:

1. Encrypt plain-te

[2016-05-05 20:09] sdrapkin commented on #8
@veikkoeeva The sensible thing to do is to use an existing, trusted AEAD library like Inferno (which is the very purpose of Inferno) - not a custom implementation. If you are thinking about working with IVs, MACs, and key derivations directly, you would be doing the very thing that Inferno is designed to avoid.

[2016-05-06 04:33] veikkoeeva commented on #8
@sdrapkin Indeed it is, but I understood it's not directly possible. Or maybe I understood your example wrong. Do you mean use Inferno's AEAD *as usual*, then pre-pend a plain-text header which the reader can use with out-of-band information to choose the right decryption key and then have a MAC over it all one more time and have prepended too?

[2016-05-06 15:20] sdrapkin commented on #8
@veikkoeeva I am assuming that all you are trying to do is to send the AD content along with the AEAD  ciphertext. A trivial code sample might be:

[code]
Note that there is no need to MAC anything all-over/again. If you modify any bit in the `ad_and_aead` byte array, the decryption will fail.

[2016-05-08 21:21] veikkoeeva commented on #8
@sdrapkin Ah, this works. I tried stubbornly use the streams and couldn't make it work. I need to thank you again. I think I can safely close this now and keep on prodding.

(Sorry for being slow, Mother's Day and all...)

[2016-05-08 21:21] #8 closed

[2016-07-22 10:48] Alxandr opened #9 "[Question] Storing passwords with PBKDF2 and HKDF"
Not sure you want questions about usage here, but I tried to ask over at StackOverflow and it didn't get any answers within a few hours, which in my experience means there is a high probability of it not being answered, so I figured I'd ask here as well. Also, you probably know this stuff better than the average StackOverflow user :P. The original post can be found [here](http://stackoverflow.com/

[2016-07-22 14:09] sdrapkin commented on #9
@Alxandr I've answered your original post on StackOveflow. You can also email me if you have other questions.

[2016-07-22 18:46] Alxandr commented on #9
Thanks a bunch :)

[2016-07-22 18:46] #9 closed

[2016-07-31 18:33] ehajri commented on #3
Hello,

I've just tried installing Inferno on Mono/Xamarin (target framework: Mono / .NET 4.5) but none of the versions (including 1.0) is installable:

Is there any chance to have Inferno work on Mono?

[2016-08-01 01:34] sdrapkin commented on #3
@ehajri Inferno is currently implemented for .NET 4.5+. That explicitly rules Mono out. You can try porting some of Inferno's ideas to Mono, but I doubt it will be as fast under Mono.

[2016-08-25 19:04] Alxandr opened #10 ".NETStandard support"
Figure this is going to be a while off, but there should probably be eventual .NETStandard support. That way I can stop copy-pasting your code into my projects :P. I don't know if all the security primitives you need/want are present there though, and your duck-punching might not work, so there are definitely the possibility of some things having to be changed.

[2016-08-25 20:57] Alxandr commented on #10
Yeah, I agree. I just figured it might be good to have an issue where eventual discussion can happen :). Also, it allows me to subscribe to updates.

[2016-08-30 22:40] dotnetchris commented on #10
So i started looking at this if i just copied in the pieces of code i directly used from Inferno could i get that to compile pretty quickly. First several changes were relatively minor, relating to reflection:

[code]

Note the `GetTypeInfo()` call prior to `GetMethod()`, also `Delegate.CreateDelegate` has been eliminated, i think chaining `CreateDelegate` as i did above is the roll forward.

Howe

[2016-08-30 22:57] Alxandr commented on #10
First of all, one important distinction: .net core is not the same as netstandard. Think of netstandard more as a PCL that runs on both regular .NET and .NET Core (as well as Xamarin and others). I suspect that once tooling are in place, most PCL libraries today will move towards .NET standard (with exception of backwards compatible stuff that still want to run on .NET 2.0), but that's just my gue

[2016-08-30 23:06] dotnetchris commented on #10
@Alxandr i took a look at your project to see what you did, however it doesn't look like you have **HMAC2.cs** at all in your repo. So i'm not sure if that was added to inferno after your work, or you just didn't use this class and ignored it.

[2016-08-30 23:13] Alxandr commented on #10
I ignored it because it basically couldn't be ported (at least at the time). And I still got the functionality I needed. Though it's been almost a year, so I can't be 100% sure on why I did stuff back then :P

[2016-08-30 23:15] sdrapkin commented on #10
@dotnetchris, @Alxandr, appreciate your insights - interesting experience. "I really need to run on NetStandard and cannot use .NET 4.6.x" said no one ever, at this point. NetStandard is an interesting intellectual self-challenge in the spirit of "let's see how many APIs MS can kill/change until we give up porting existing code".

[2016-08-30 23:22] dotnetchris commented on #10
Yeah it looks like tomorrow I delete this and start over with a MVC6 .NET 4.6 application instead of Core. Thought Core might be done "enough" but apparently not.

[2016-08-30 23:39] Alxandr commented on #10
What do you mean Core isn't "done enough"? Core is released, and ready for production. If there are APIs you're not finding it's likely that they either changed, or was decided that they would not be ported.

[2016-08-30 23:57] dotnetchris commented on #10
@Alxandr just like i reported that there are several sweeping changes to the HashAlgorithm class. If it only takes a single digit number of nuget dependencies to hit code paths that flatly do not exist in Core, it's not ready. Of course the RTM was really like beta6 or beta7, but that's a different discussion.

[2016-08-31 01:58] Alxandr commented on #10
I think you're wrong about that though. API parity with .NET framework was as far as I know never a goal. It's a fresh chance to not be backwards compatible. Also, the fact that some of the APIs used by SecurityDriven.Inferno, which is a highly specialised project were not bought forward is not strange at all. Especially the internal API calls. You might not think it ready, but I won't be surprise

[2016-09-16 13:23] ChrisMcKee opened #11 "Typo on webpage"
Says promitives in the into and impementations on the last line

[2016-09-16 15:53] sdrapkin commented on #11
Fixed. Thanks!

[2016-09-16 15:53] #11 closed

[2016-10-04 14:24] DavidR91 commented on #6
I feel like this should be re-evaluated.

Strong naming is very common for

* ASP .NET precompilation
* Various obfuscation + protection tools

I maintain a large commercial ASP .NET product, and literally all of its NuGet dependencies ship strong named assemblies, which means they can fit into our toolchain.

I **want** to use Inferno - however, without a shipped strong name version, we cannot bu

[2016-10-04 15:47] sdrapkin commented on #6
@DavidR91 Is [self-signing](https://msdn.microsoft.com/en-ca/library/xc31ft41(v=vs.110).aspx) the Inferno assembly with your own key as part of the build process an option? One could even [HTTP-download](https://www.nuget.org/api/v2/package/Inferno/) the Nuget package, unzip, and commandline-sign in a few batch/powershell/LinqPad lines.

But I understand the PITA.

I will be releasing Inferno 1.4

[2016-10-05 10:18] DavidR91 commented on #6
A separate strong-named NuGet package is great news, and a good compromise

+ I also totally understand the reluctance to ship it strong named default because the issues you listed (and personally, if I could avoid SN'ing out product I would, but the processing steps for precompile + obfuscation require it)

[2016-10-05 11:03] DavidR91 commented on #6
Just a note by the way - you can't use the `ildasm` or other tricks to strong name the current assembly because of the`InternalsVisibleTo` declaration

`[assembly: InternalsVisibleTo("SecurityDriven.Inferno.Tests")]`

(a public key is apparently required if the internals visible to declaration remains)

[2016-10-06 21:44] sdrapkin commented on #6
Inferno 1.4 has been released. `Inferno.StrongName` has also been published on Nuget.
[https://www.nuget.org/packages/inferno.strongname](https://www.nuget.org/packages/inferno.strongname).

Please try out `Inferno.StrongName`, and provide your feedback on whether it meets your needs (and this issue can be closed).

[2016-10-11 10:55] DavidR91 commented on #6
This is brilliant and works exactly how we need (+ how others using ASP .NET + obfuscators etc. will need)

Thank you very much for responding to and implementing this change, your library is awesome 👍

[2016-10-13 14:00] sdrapkin commented on #10
[Inferno Portability Report.pdf](https://github.com/sdrapkin/SecurityDriven.Inferno/files/527269/Inferno.Portability.Report.pdf)

The biggest issue I see is (lack of) support for ECDiffieHellman in .NET Standard 2.0. Everything else seems addressable..

[2016-10-13 15:33] Alxandr commented on #10
Yeah, 2.0 should bring back a bunch of stuff. Though it might be a while (a year or so I'd guess) before 2.0 is supported. But still, it's probably the way to go with the least friction. However, what I'm worried about is your use of internal .NET stuff. That stuff might just outright break (while still compiling). And it might do so by the drop of a new .NET runtime for instance (afaik, they don'

[2016-10-13 20:00] sdrapkin commented on #10
I tried porting some portions of Inferno to .NET core (or .NET Standard 1.3, or whatever the f. MS calls it these days).. Mostly for amusement value, and to get a taste of @dotnetchris's experience. Here's where the wheels fell off for me:

The new APIs (in standard packages delivered via Nuget) are not only non-backwards-compatible with .NET 4.6.x, but also seem badly designed in ways I can't rat

[2016-10-25 15:40] #6 closed

[2016-12-06 14:24] RaptorCZ opened #12 "Targeting 4.5.1"
Is it possible to get sources and retarget back to 4.5.1 or there is any breaking change? We want to use Inferno in 4.5.1 application. We can't switch to 4.5.2.

[2016-12-06 17:58] sdrapkin commented on #12
.NET 4.5.1 has been unsupported by Microsoft since January 12, 2016. You can always download Inferno source code and recompile yourself for .NET 4.5.1.

[2016-12-14 09:36] Tornhoof opened #13 "Missing ArgumentNull checks in Utils.ConstantTimeEqual"
Wrong exception type in Utils.ConstantTimeEqual if arguments are null

Steps to reproduce:
1. Run Utils.ConstantTimeEqual("Hello World", null);
2. Run Utils.ConstantTimeEqual(new byte[] {0}, null);

Actual: NullReferenceException
Expected: ArgumentNullException

I know that your comments include "// Null checks of "x" and "y" are skipped. Appropriate exceptions will be raised anyway.". These metho

[2016-12-14 14:11] sdrapkin commented on #13
`NullReferenceException` is thrown in `ConstantTimeEqual` to indicate that it is caller's responsibility to ensure non-nullness of caller-provided arguments. Callers that have already insured non-nullness of arguments are not perf-penalized with an extra check.  Callers that are less strict with their input validation will not create a security vulnerability (exception _will_ be thrown) and will d

[2016-12-14 15:55] Tornhoof commented on #13
Thanks for your explanation. That's fine for me.

[2016-12-14 15:55] #13 closed

[2016-12-19 16:28] MSACATS opened #14 "Why is ECB mode okay?"
In AesCtrCryptoTransform, this.aes.Mode is set to CipherMode.ECB.  Why is this okay?  There's no comment explaining why the usual ECB weaknesses wouldn't apply here.

[2016-12-20 18:39] MSACATS commented on #14
Thanks.  That's why it's so critical in CTR mode that the IV not be reused, right?

[2016-12-20 18:39] #14 closed

[2017-01-10 14:20] #12 closed

[2017-04-18 19:30] ronnieoverby commented on #10
Any news on this?

[2017-04-18 19:59] sdrapkin commented on #10
@ronnieoverby MS still has not released NetStandard-2.0.

[2017-04-18 20:01] ronnieoverby commented on #10
Herp derp, I missed that part of the discussion. Thanks! I'm really looking forward to having inferno by my side when targeting .net std.

[2017-08-09 17:06] sdrapkin commented on #10
.NET Standard 2.0 has been [finalized](https://github.com/dotnet/announcements/issues/24), and `ECDiffieHellmanP384`, `ECDsaP384` appear to be in it (sanity prevailed). Once Microsoft releases Visual Studio 15.3, I'll try porting Inferno again...

[2017-08-09 17:11] Alxandr commented on #10
@sdrapkin I'm working on a few .NET core projects and have found a good setup (wrt solution file, csprojs, tests etc.) with full support for SoureLink (able to debug with sources right on github) and building + testing + releasing on both travis and appveyor. They also produce both netstandard and .net framework (desktop) assemblies and nuget packages. You can take a look if you like: https://gith

[2017-08-15 19:09] sdrapkin commented on #10
ECDH key exchange is not supported by NetStandard 2.0 (official confirmation is [here](https://github.com/dotnet/corefx/issues/8158)), despite all the `ECDiffieHellman*` APIs which are useless.

Support for NetStandard is thus deferred until such time when Microsoft decides to support basic modern-cryptography primitives in NetStandard_vNext.

[2017-08-15 23:20] ronnieoverby commented on #10
Well, poop.

[2017-08-16 12:24] henning-krause commented on #10
We are using the Inferno library from @sdrapkin extensively in our application and this is an issue which blocks us from moving to .NET Core.

Sadly.

[2017-08-22 12:46] Alxandr commented on #10
@sdrapkin would it be an idea to split SecurityDriven.Inferno into smaller modules? Such as `SecurityDriven.Inferno.Hash` etc? In that way, it would be possible to release .NET standard versions of what .NET standard has, and leave the things that require ECDH for .NET framework only.

[2017-08-22 14:07] sdrapkin commented on #10
@Alxandr I considered this. Inferno is small-enough (by design) to be its own "module". Once you start splitting Inferno into pieces, a lot of value (but not all) will be lost.

Inferno itself does not use ECDH - ECDH is only provided as part of [CngKeyExtensions ](https://github.com/sdrapkin/SecurityDriven.Inferno/blob/master/Extensions/CngKeyExtensions.cs) helper, and thus one easy approach woul

[2017-12-09 20:59] veikkoeeva commented on #10
@sdrapkin It appears .NET Standard 2.0 has added plenty of new algorithms, [including ECDH](https://msdn.microsoft.com/en-us/library/system.security.cryptography.cngalgorithm.aspx). E.g. it's now feasible to write self-signed certificates straight from .NET code (before .NET Standard 2.0 I think the way would have been P/Invoke or some adventuruous DER encoded ASN.1 byte arrays).

[2017-12-21 16:31] LRomano72 opened #15 "ToBytes/FromBytes issue with Unicode characters"
Hi,

Not sure this is an issue but I was using your ToBytes and FromBytes as I was being lazy and wanted to avoid the assumption of UTF-8 encoding or any encoding at all. From your documentation it sounds like that functions are encoding agnostic so I tried to use them as so:
        public string Encrypt(string message, string password)
        {
            var secretMessage = new ArraySegment<b

[2017-12-21 18:37] sdrapkin commented on #15
@LRomano72 You are calling `SuiteB.Encrypt(...)` which returns a `byte[]` and then you are passing that `byte[]` into `.FromBytes()` which returns a string.

The confusion is likely due to an assumption that `.FromBytes()` is able to convert *any* `byte[]` into a string.

`.ToBytes()` and `.FromBytes()` are a pair of `byte[]`-to-string serialization/deserialization methods. `.FromBytes()` can only

[2017-12-21 21:46] LRomano72 commented on #15
Ok I see where I messed up. Thanks for the information and help. Going to test it out now.

[2017-12-21 21:46] #15 closed

[2018-02-05 14:43] CodingGorilla commented on #10
Is there any movement on this, I'm planning for a new project and just curious if this library is going to make the move Net Standard or not.

[2018-02-05 15:25] sdrapkin commented on #10
@CodingGorilla .NET Core [2.1.0](https://github.com/dotnet/corefx/milestone/12) milestone currently shows as 95% complete. MS shows release date as "Q2 2018". It might be reasonable to assume that NetStandard21 will be a part of that, but who knows (NetStandard, .NET Core, and sane .NET all evolve in their own mysterious ways now).

With all the MS spin on how NetStandard is intended to be a unifi

[2018-02-05 17:06] CodingGorilla commented on #10
@sdrapkin They just released a couple of C9 videos about the road map: https://channel9.msdn.com/Shows/On-NET/NET-Core-21-Roadmap-PT1 & https://channel9.msdn.com/Shows/On-NET/NET-Core-21-Roadmap-PT2.  Not sure if that clarifies anything; is 2.1 required to make this port?

[2018-02-05 17:58] sdrapkin commented on #10
@CodingGorilla NetCore 2.1 milestone seems to have `ECDiffieHellman` port in it, which I think is the only API missing to port **Inferno**. I've seen at least 2 forks of Inferno where ECDH was dropped and the rest was ported to NetStandard with a few line changes.

I am curious - could you share why you need to target NetStandard rather than normal .NET framework?

[2018-02-05 19:10] CodingGorilla commented on #10
@sdrapkin My project is ASP.NET Core 2.  Honestly, I could probably do all of the work with the 'classic' .NET framework, but I personally view that as being deprecated.  All of the work Microsoft seems to be doing is going into .NET Core, and I don't want to start new projects on a platform that I feel is being phased out.  I have previously tried mixing .NET Framework and .NET Standard, and it r

[2018-02-06 15:29] dotnetchris commented on #10
With Core 2.0 I've used some of Inferno out of box. Depending on how much of the surface you need, you could already be fine today. Inferno isn't like most nuget packages that depend on 45 other things.

[2018-02-06 15:38] CodingGorilla commented on #10
@dotnetchris Are you using .NET Standard targeting the full framework ("classic"), or are you actually using .NET Core?  I tried using Inferno, but I got warnings that it would only work on full framework because it doesn't support .NET Standard.

[2018-04-03 08:27] christopherpross commented on #3
Hi,
mono is supporting now .net 4.6 and higher.
But a simple testprogram throw the following:

[code]

and here the code in program.cs:

[code]

[2018-04-03 14:56] sdrapkin commented on #3
@christopherpross The current version of Inferno (1.4.0) targets .NET 4.5.2 and relies on certain internals of .NET Framework which (I'm guessing) are not available in Mono. I will be releasing a new version of Inferno soon, which will target .NET 4.6.2. As part of that release, I will be removing internal dependency on .NET internals.

If you can't wait, replace `Utils.BlockCopy` implementation w

[2018-04-17 18:08] rjcarneiro opened #16 "There's no nuget package?"
Hi,

It would be amazing if there was created a nuget package in nuget.org so we could include the package directly in our projects.

[2018-04-17 19:33] Insire commented on #16
https://www.nuget.org/packages/Inferno.StrongName/

https://www.nuget.org/packages/Inferno/

![grafik](https://user-images.githubusercontent.com/11455827/38892237-fdbf493c-4286-11e8-8985-b1bcff0e53d8.png)

[2018-04-17 19:37] rjcarneiro commented on #16
How did I miss that?

Many thanks 🙏🏼

[2018-04-17 19:37] #16 closed

[2018-04-20 04:48] AdrianCohea commented on #10
@sdrapkin I have a use-case for this in NET Standard. I have a Mono project running on a Linux infrastructure. I am trying to migrate from net452 to net462, and then from there to netstandard2.0. We have some authentication code that we are forced to re-write/find alternatives for. During that process I found specific improvements that need to be made: the use of constant-time comparisons.

I'd li

[2018-04-30 20:10] christopherpross opened #17 "dhm keyexchange more clear example?"
Hello,
just a question, I want to use the dhm algorythm to share a key. My problem is, that the example in the documentation is not clear for me.
The "Dump()" method doesn't exist, in the other ecliptic curve example only keyB is used not keyA.
At the simple dhm example, I didn't know what I to have to transfer for example from a to b and how can b get the same key as a.

Can someone write a more

[2018-04-30 20:36] sdrapkin commented on #17
Hi Christopher,

The `Dump()` method is the equivalent of `Dump(this obj, string msg) => Console.WriteLine($"{msg}: {obj}");` - you can ignore it. Since all you want to do is share a DHM key, here's the code sample:

[code]

Both `A` and `B` will use `.GetSharedDhmSecret()` to derive a shared key which will be identical for both.
Also note that in the above example the full DHM key should not be u

[2018-05-01 13:52] sdrapkin commented on #17
@christopherpross Yes, that's right. You can use the staticsecret on either side with ex. `SuiteB.Encrypt(masterKey: staticsecret)` to exchange messages between A and B.

[2018-05-01 13:57] sdrapkin commented on #10
@AdrianCohea Inferno 1.5.0 targets .NET 4.6.2. If you only need the constant-time comparison methods, you can take them from [Utils](https://github.com/sdrapkin/SecurityDriven.Inferno/blob/master/Utils.cs) class and use them in your NetStandard20 target. Once NetStandard.vNext includes the missing asymmetric crypto APIs, Inferno.vNext will target NetStandard.

[2018-05-01 16:48] ronnieoverby commented on #10
@AdrianCohea here you go :)

[code]

[2018-05-08 14:59] dotnetchris commented on #10
2.1 RC is out, https://blogs.msdn.microsoft.com/dotnet/2018/05/07/announcing-net-core-2-1-rc-1/ check out the section "New Cryptography APIs" did any of these address the existing shortcomings in Core vs Framework for crypto?

[2018-05-08 16:54] AdrianCohea commented on #10
@ronnieoverby That's the most unprofessional suggestion I have ever seen on GitHub. :)

[2018-05-08 17:09] sdrapkin commented on #10
@dotnetchris Yes, NetCore2.1 (once released) adds `ECDiffieHellman` support, which **Inferno** requires. It's unfortunate that there are still no news on NetStandard2.1, or whether NetStandard2.1 will also have `ECDiffieHellman`. Libraries like **Inferno** should ideally target NetStandard, and not specific NetStandard implementations.

One of the options to support both .NET 4.6.2 and NetCore2.1

[2018-05-08 17:10] sdrapkin commented on #17
@christopherpross Are you ok with closing this issue?

[2018-05-08 17:18] Alxandr commented on #10
@sdrapkin actually, you can do that really easily I think. Just create a new netcoreapp library project, and change `<TargetFramework>netcoreapp2.1</TargetFramework>` to `<TargetFrameworks>netcoreapp2.1;net461</TargetFrameworks>`. Example: https://github.com/YoloDev/YoloDev.Expecto.TestSdk/blob/master/src/Directory.Build.props#L6

[2018-05-08 18:00] sdrapkin commented on #10
@Alxandr, @ronnieoverby Thanks! How do I use different c# code for different targets in the same codebase? Ex. I'd like `var rng = RandomNumberGenerator.Create();` for NetCore build, but `var rng = new RNGCryptoServiceProvider();` for Net462 build.

[2018-05-08 18:26] ronnieoverby commented on #10
@sdrapkin This shows the way:

https://docs.microsoft.com/en-us/dotnet/standard/frameworks

[2018-05-08 18:34] ronnieoverby commented on #10
@sdrapkin Actually, given your example to create an `rng`, `RandomNumberGenerator.Create()` ought to work regardless of the runtime platform.

![image](https://user-images.githubusercontent.com/101028/39775754-d16c43c0-52cc-11e8-966c-fa6dd51929c2.png)

[2018-05-08 18:34] cocowalla commented on #10
@ronnieoverby was just about to say the same thing - I'm fairly sure `RandomNumberGenerator.Create()` actually gives you an `RNGCryptoServiceProvider` when running on the full .NET Framework.

[2018-05-10 18:37] sdrapkin commented on #10
Attached is a test build with .NET CORE 2.1 RC1 support. Can everyone please try it and provide feedback?
[Release.zip](https://github.com/sdrapkin/SecurityDriven.Inferno/files/1992844/Release.zip)

[2018-05-10 19:07] sdrapkin opened #18 "ECDiffieHellman code in NETCOREAPP2_1 is inefficient & complex - can it be improved?"
[ECDiffieHelman :: GetSharedSecret](https://github.com/sdrapkin/SecurityDriven.Inferno/blob/9eab7896abed4f58577b1c2a6a4895d654c61711/Extensions/CngKeyExtensions.cs#L49)

@bartonjs The `NETCOREAPP2_1` code to use `ECDiffieHellman` to derive a shared secret from a private `CngKey` and a public `CngKey` is very messy/complicated, compared to `NET462` code. Can it be improved?

Ex. the `NETCOREAPP2_1`

[2018-05-10 19:35] bartonjs commented on #18
The ECDiffieHellmanCng type is there, with the same surface area.  If you're using CngKey that means you're already bound to Windows and can just keep using it.

[2018-05-10 19:40] sdrapkin commented on #18
@bartonjs Thx for reviewing. Is it by design that `NETCOREAPP2_1` has no API which converts a byte array into `ECDiffieHellmanPublicKey`? Especially given than the reverse API that converts `ECDiffieHellmanPublicKey` into a byte array does exist (`.PublicKey.ToByteArray`)?

[2018-05-10 19:47] bartonjs commented on #18
Yes

ECDiffieHellmanPublicKeyCng uses the CNG blob, which didn't seem like a sensible thing to move to cross-platform.

It's also a bit complicated by ECDiffieHellmanCng having expectations that it will get an ECDiffieHellmanPublicKeyCng (throwing otherwise), so really the API expects that the PublicKey object came from the parent class factory property.

I won't say that there's not room for impr

[2018-05-10 20:04] sdrapkin commented on #18
Indeed - no complaints here. In terms of future improvement though, we all want simple things:

- "Standard" serialization/wire-format for ECDsa and ECDH keys, that works across all targets (ex. serialize in NETFULL and load back in NETCORE, or vice-versa).
- Ability to serialize/deserialize ECDsa and ECDH public and private keys via convenient APIs. Preferably in a way that works on all NETCORE t

[2018-05-11 07:07] Alxandr commented on #10
@sdrapkin If you're interested I can help setup CI/CD so that every build is released to myget.

[2018-05-11 13:18] sdrapkin commented on #10
@Alxandr

Thanks - I appreciate the offer to help. One challenge I have right now is that in [Inferno.Tests](https://github.com/sdrapkin/SecurityDriven.Inferno.Tests) project (which uses MSTest) I'm using Visual Studio to run the tests, and there is no built-in support to run the tests separately for NET462 and NETCOREAPP2_1. I have to manually edit the  `.csproj` file, change the order of targets

[2018-05-11 13:26] cocowalla commented on #10
@sdrapkin you can use the `--framework` parameter. See [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore2x) for more info on the `dotnet test` command.

[2018-05-11 14:51] Alxandr commented on #10
@sdrapkin @cocowalla You don't need to do that actually. The following project builds and tests on both netcore and full .NET framework with a single MSBuild command: https://github.com/YoloDev/YoloDev.AspNetCore.Assets/

[2018-05-11 15:04] cocowalla commented on #10
@Alxandr I know - I thought the question was how to specifically test with just _one_ target.

[2018-05-11 15:25] sdrapkin commented on #10
I'm using VS.NET - not CLI. Is there a nice way to test a specific target?
![image](https://user-images.githubusercontent.com/9137858/39932250-a53d52ba-550d-11e8-8adc-87509b041861.png)

I hack around that by `#if`'ing a `Console.WriteLine` with the target:
![image](https://user-images.githubusercontent.com/9137858/39932360-f23671a0-550d-11e8-8cf3-78b52d2d8a43.png)

[2018-05-11 15:41] cocowalla commented on #10
@sdrapkin I'm using ReSharper with VS2017 - it has a better test runner that let's you choose a framework, or run for all frameworks.

[2018-05-11 16:04] sdrapkin commented on #10
@cocowalla Thx for ReSharper tip.

[2018-05-11 16:37] cocowalla commented on #10
@sdrapkin forgot to mention, they have a 'personal' licence that is good value, but also do free licenses for OSS projects. I recommend it.

[2018-05-25 11:56] combl commented on #10
Hey guys,

I tried to integrate Inferno in my netcoreap2.1 running on Debian. It worked using the latest source and altering some classes. Now I could use some feedback on my changes to determine if I comppromised security in any way.

**1. use of bcrypt.dll not possible on Linux ([DllImport(bcrypt_dll, CharSet = CharSet.Unicode)])**
So replaced the random generation with System.Security.Cryptogra

[2018-05-25 14:26] sdrapkin commented on #10
@combl Your changes seem to be fine. However, they only address the symmetric-cryptography APIs of Inferno. Inferno also provides asymmetric-cryptography APIs - mostly via the `CngKeyExtensions` extension methods.

These extension methods are all `CngKey` based. I'm not sure whether `CngKey` based APIs work on non-Windows NETCORE. Can you verify whether this Microsoft Nuget package works on Debian

[2018-05-28 08:18] combl commented on #10
@sdrapkin the Nuget package you mentioned doesn't work on Linux. I tried the methods in CngKeyExtensions.cs and always got the following exception:

System.PlatformNotSupportedException: Windows Cryptography Next Generation (CNG) is not supported on this platform.

My change in AesFactories.cs targets this issue and removes the System.Security.Cryptography.Cng dependency for symmetric cryptography

[2018-06-07 19:37] dotnetchris commented on #10
@combl i suspect this will require work with people who are familar with Linux space since the purpose of Inferno is to delegate as much as possible to the native cryptography APIs for maximum security.

I know marginal amounts about the windows cryptographic services, but personally nothing at all for the *nix world. I'm not even a 100% sure it exists natively, is OpenSSL like the only thing?

[2018-06-08 14:30] sdrapkin commented on #10
I'll try to summarise the core challenges (pardon the pun) - at least imho. First, some background:

MS has fragmented the ecosystem into 3 different parts: NETFRAMEWORK, NETCORE, and NETSTANDARD. All 3 evolve separately and independently (at least it sure seems like it). Then MS introduced different environments for NETCORE, such as "Windows", "Linux", and "macOS". The problem is that NETCORE-tar

[2018-06-12 14:38] Lorentzen1337 opened #19 "SuiteB Encryption/Decryption works in 1.4.0.0 but fails in 1.5.0.0"
Hi @sdrapkin
First of all thanks for an amazing library!
I am having issues with an implementation that works fine under 1.4.0.0 but fails in 1.5.0.0.
Inspiration for the following has been taken from your comment in another issue: [A trivial code sample](https://github.com/sdrapkin/SecurityDriven.Inferno/issues/8#issuecomment-217471990)

I made a simple console app to demonstrate the behaviour:
`

[2018-06-12 15:30] dotnetchris commented on #10
Does anyone have any contacts inside Microsoft to put eyeballs on this? I have some, but none of them are circling around cryptography.

Related have any of us specifically opened feature request issue(s) specifically regarding the elliptic curve components missing?

[2018-06-12 15:34] veikkoeeva commented on #10
I believe @bartonjs is the go-to guy on this sort of things. I have a vague idea some of this may have been discussed in .NET repos, but I do not seem to locate any of that currently.

[2018-06-12 19:38] sdrapkin commented on #19
It is a serious bug. Thanks for reporting it.
The bug was introduced in d1f958d7c093fd3c54d3aeb25bd489f90b2f1565.
The bug is not fixed in 40962ef17271b182580759618afa179b65526ced.
New Nuget and Github builds will be available shortly.
Unit tests did not cover this scenario, and missed this regression - will also be updated.

[2018-06-12 20:58] Lorentzen1337 commented on #19
No problem man!
Thanks for the quick fix 👍

[2018-06-12 23:28] sdrapkin commented on #19
New build 1.5.1 has been released, which fixes the regression. Unit tests has also been updated.
[code]

[2018-06-13 07:10] henning-krause commented on #19
@sdrapkin, great to hear that. Could you also update the strong-named package? That would be great.

[2018-06-13 15:58] sdrapkin opened #20 "Constant-time comparison: which approach is best?"
## Which approach is best?

`AndEq` approach, used by [internal](https://referencesource.microsoft.com/#System.Web/Security/Cryptography/CryptoUtil.cs,de48632ccae97d0b,references) and [public](https://github.com/aspnetwebstack/aspnetwebstack/blob/master/src/System.Web.Helpers/Crypto.cs#L161) Microsoft helpers:
[code]

`OrXor` approach (classic):
[code]

`OrSub` approach, recently [advocated](https

[2018-06-13 16:04] sdrapkin commented on #20
@blowdart, @bartonjs, @codesinchaos, @jedisct1

[2018-06-13 17:29] sdrapkin commented on #20
@jedisct1 I get your point, but my question is about the confines of a safe, managed .NET environment (ie. JIT, GC, and all the other attributes of NETFRAMEWORK & NETCORE).

[2018-06-13 17:44] sdrapkin commented on #19
@henning-krause [Inferno.StrongName 1.5.1](https://www.nuget.org/packages/Inferno.StrongName/1.5.1)

[2018-06-13 20:14] henning-krause commented on #20
As @jedisct1 already pointed out, a platform-backed operation is probably a goog choice. Since you already sprinkled some #ifdefs around, you can use [CryptographicOperations.FixedTimeEquals](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.cryptographicoperations.fixedtimeequals?view=netcore-2.1) on .NET Core 2.1.

[2018-06-13 20:22] sdrapkin commented on #20
@henning-krause `CryptographicOperations.FixedTimeEquals` doesn't do anything [special](https://github.com/dotnet/corefx/blob/63cfd9ebb28533078b69daf16287dee1e1daef22/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/CryptographicOperations.cs#L32) - it's `OrSub`.
Inferno already provides `Xor`-based constant-time comparison API. The new thing to me is recent Microsoft c

[2018-06-13 20:40] henning-krause commented on #20
@sdrapkin, in the link you provided, MS claims that Sub has the best constant-time execution. No proof for that, however....

[2018-06-14 07:33] henning-krause commented on #19
Thank you!

[2018-11-12 22:46] davious opened #21 "mac dotnet core: The type initializer for 'SecurityDriven.Inferno.EtM_CTR' threw an exception: Unable to load shared library 'bcrypt.dll' or one of its dependencies"
Hi,

I am attempting to use SuiteB.Encrypt on a mac net dotcore project.
When I call it I get the following stack trace:
[code]

May I have your help getting Inferno running?

[2018-11-13 03:18] sdrapkin commented on #21
@davious Inferno uses Windows-native crypto primitives, and while it does support dotnetcore Inferno only runs on Windows.

[2018-11-29 17:44] #21 closed

[2018-12-05 15:49] ronnieoverby commented on #17
Can you also speak to the usage of the ephemeral bundle found in the [example](http://securitydriven.net/inferno/#DHM%20Key%20Exchange)?

I understand that the ephemeral bundle is used to have PFS, but the actual process doesn't really seem to be simulated in the example.

Thanks!

[2018-12-05 16:57] ronnieoverby commented on #17
Just updated the code sample to include a malicious 3rd party.

:)

[2019-01-10 21:48] jefflafay commented on #21
Any chance that you will be supporting Mac OS or Linux in the future with some other crypto dependencies? I need this to work with Mac OS.

[2019-01-10 22:13] sdrapkin commented on #21
@jefflafay Inferno currently has a lot of internal dependencies on Windows-native APIs - mostly for performance reasons. While it should be possible to remove some of these dependencies in lieu of NetStandard-APIs only (at at the expense of performance), I don't currently have plans to do so. This would ideally require proper target-platform testing as well (I don't own a Mac).

[2019-02-05 09:24] niranjan94 opened #22 "Decrypt file in python that is encrypted by Inferno EtM_EncryptTransform"
I have a file that was encrypted with `EtM_EncryptTransform`. I'm attempting to decrypt the file on python using the `Cryptodome` library.

But the decryption is not working. I'm am probably doing something wrong in terms of the counter or something. Any help would be great 😄

---

The following is the python code snippet

[code]

[2019-02-05 14:20] sdrapkin commented on #22
@niranjan94 `EtM_EncryptTransform` and its output-structure are more complicated than an simple `AES_CTR` encryption. The exact implementation is described [here](http://securitydriven.net/inferno/#Implementation%20Details). I'm not familiar with PyCryptodome to provide a Python equivalent.

[2019-02-05 15:20] niranjan94 commented on #22
@sdrapkin thanks for the response. Will read more on the implementation and try to get an equivalent in python 😄

[2019-02-05 15:20] #22 closed

[2019-02-06 05:26] JoshuaWebb opened #23 "Consider serving your website/documentation over HTTPS"
There's something a little ironic about the documentation of a crypto library being hosted with HTTP in 2019, especially with the way Google/Chrome treats pages served over HTTP these days.

While it has no bearing on the security/implementation of the library, it doesn't project the best image.

![image](https://user-images.githubusercontent.com/6722399/52321701-20df2a00-2a2a-11e9-844e-cc9aa4389f

[2019-02-06 16:04] sdrapkin commented on #23
If someone donates enough to cover CloudFront costs, I'll put a CloudFront with ACM cert in front of S3 bucket.

[2019-02-06 16:14] cocowalla commented on #23
Cloudflare's free tier is really generous - is that something you could use?

[2019-02-06 16:23] sdrapkin commented on #23
@cocowalla Cloudflare is not without issues. I would have to give up DNS control (not very appealing), and every now and then Cloudflare decides that I'm not human-enough and does not show me Cloudflare-fronted sites (temporarily). I don't like being at the mercy of their magic algorithms.

[2019-02-06 16:39] cocowalla commented on #23
I've only ever seen Cloudflare asking for captchas for Tor connections, but I guess there are other situations where it happens.

Not sure I understand what you mean about giving up DNS control, unless you really are hosting your own name server(s)?

I find Cloudflare to be good enough for most cases, especially since you are getting essentially zero-config TLS in front of your site for free (and

[2019-02-08 22:00] sdrapkin commented on #23
How's that: [https://securitydriven.net/inferno](https://securitydriven.net/inferno) ?

[2019-02-09 00:13] JoshuaWebb commented on #23
Looks good to me 👍

[2019-02-09 00:13] #23 closed

[2019-03-05 15:53] MithrilMan opened #24 "Can this library be used as foundation for a bitcoin library?"
bitcoin uses RIPEMD160, SHA256, ECDSA on Secp256k1 curve.

Does this library support these algorithms?

[2019-03-05 19:47] sdrapkin commented on #24
@MithrilMan RIPEMD160 and SHA256 are available in .NET (there is nothing special in **Inferno** to support these hashing schemes). Base58 encoder/decoder is not in **Inferno**. Lastly, **Inferno** uses NIST P-384 elliptic curve, while bitcoin uses Secp256k1 elliptic curve.

[2019-03-08 17:46] MithrilMan commented on #24
Thanks for the clarification.

Actually in our project we are using BouncyCastle implementation of the stuffs we need.
During IBD (Initial Block Download) of our fullnode we see a lot of memory fragmentation in the heap and TaskManager reports that our service is taking almost the double of what it really uses (this is because a lot of memory is free but not collected).
I suspect this is because w

[2019-03-08 18:07] sdrapkin commented on #24
@MithrilMan From my experience, BouncyCastle is just fundamentally poorly-coded for .NET. It's not even about seeking Span/ReadOnlySpan efficiencies - it's about having .NET experts who also happen to be expert cryptographers. This dual-skill is almost impossible to find. DJB might be one example in C-expertise and crypto-experise. BouncyCastle authors are very skilled in crypto, but not in .NET.

[2019-03-08 23:18] MithrilMan commented on #24
I guess when you say "in which case you should try to front-load all such allocations to minimize fragmentation" you mean using technique like object pooling right?
Even if our objects are quite dynamic, their size can vary (they are composed objects that take quite a lot of size and are built from a serialized streem that comes from other peers and the size vary a lot)
P.S.
I confirm that fragmen

[2019-03-09 02:15] sdrapkin commented on #24
Yes, I meant pooling, but ideally not object-pooling (your objects are dynamically-sized), but byte-array pooling - ie. keeping our objects in raw byte-array form, which is easy to pool, and using ex. a flyweight pattern to map Spans of typed structures over your byte-arrays just-in-time, to minimize GC-traffic.

[2019-03-22 21:04] #24 closed

[2019-07-11 16:37] ymccready opened #25 "License info not on Nuget.org"
Hello,
Minor suggestion here. Would it be possible to add the license info directly on the Nuget.org page? I think this is normally done via the License section of the Nuspec file ([see reference](https://docs.microsoft.com/en-us/nuget/reference/nuspec)).
I looked for the NuSpec file to submit PR, but could not find it.

Automated tools (BlackDuck for example) are scraping this information, but si

[2019-07-11 19:16] sdrapkin commented on #25
I've updated nupkg file (not on Github) to include the `<licenseUrl>` link.
New releases will include it.

[2019-07-12 13:36] ymccready commented on #25
That's great. Thanks!

[2019-07-18 19:48] ThoughtHopper opened #26 "Release strong named nuget packages for newer versions"
I have read the issue:
Issue (https://github.com/sdrapkin/SecurityDriven.Inferno/issues/6)

I apologize but I find myself in the same boat as other people.

Having stated my situation, I'd like to request some sort of automation, so that future updates trigger two nugets releases, the regular one and the strong named one.

Thank you

[2019-07-19 01:26] sdrapkin commented on #26
I will release strong-named nuget packages for newer versions.

[2019-07-25 13:44] #25 closed

[2019-07-25 13:45] #26 closed

[2019-09-10 20:47] GreatFireWall opened #27 "cfb"

[2019-09-10 20:47] #27 closed

[2019-10-31 15:47] CodesInChaos commented on #20
Personally I don't trust code involving booleans or the `==` operation in the constant time part, which rules out the `and` based code you posted.

Between substraction and xor I slightly prefer xor, since it never needs overflow checks, even when compiling with overflow checks enabled (which I often do).

It is special, because it's maintained by the same party as the JIT. So if a change to the J

[2019-10-31 16:23] sdrapkin commented on #20
@CodesInChaos Interesting thoughts, thx. Personally, I don't trust preferences that infer trust based on slippery-slope of which team might hypothetically be maintaining what, and what hypothetically should happen in case of an issue.

The engineer in me prefers `OrXor` (same no-overflow-bit reasons).

The pragmatist in me prefers `AndEq`, which has huge .NET-framework deployment base compared to

[2019-11-27 14:59] okvalsralos opened #29 "Could not load file or assembly System.Numerics.Vectors.dll"
If targeting .NET 4.6.2 and building in release mode there is an

Version of `System.Numerics.Vectors.dll` in .NET 4.6.2 is 4.1.3.0.

Found a similar issue and a possible solution for the NuGet package: https://github.com/vpenades/SharpGLTF/issues/4#issuecomment-495515684

The `Inferno.StrongName` doesn't produce the issue and there is no reference in NuGet package to `System.Numerics.Vectors.dll`

[2019-11-27 18:58] sdrapkin commented on #29
[ConsoleApp1.zip](https://github.com/sdrapkin/SecurityDriven.Inferno/files/3898398/ConsoleApp1.zip)

I'm attaching a console-app repro. Opened VS.NET-2019; new console app targeting .NET 4.6.2. Added "SecurityDriven.Inferno 1.5.3" from Nuget, which also asked to install Numerics.Vectors.

The repro runs fine for me. Can you please see whether the exact same solution works for you, and what might b

[2019-11-28 08:12] okvalsralos commented on #29
The solution you've attached compiles as is in release mode without any issues.
After I modify the solution to match as closely as possible to my project I can reproduce the issue.

To reproduce the same error try to change/force the property _Generate serialization assembly_ (project properties, build tab) from `Auto` to `On` and you get the same error as described.
Changing the setting to `Off`

[2019-11-28 16:28] sdrapkin commented on #29
I tried setting _Generate serialization assembly_ to `On` in ConsoleApp1 tester, but could not reproduce your error. Our environments are probably different somehow.

I'm glad you found a way to get successful builds.

[2019-12-03 09:16] okvalsralos commented on #29
The problem is mentioned in few different repositories also in the `dotnet/corefx` repository. More details in [#32457](https://github.com/dotnet/corefx/issues/32457).

For now I've created a new NuGet package in our local NuGet feed and included only `net462` version without any additional dependencies. Building in `Release` mode with `Generate serialization assembly = Auto` (or `On`) succeeds.

[2020-01-06 17:13] #29 closed

[2020-01-09 14:11] sdrapkin commented on #10
[Inferno 1.6.0](https://www.nuget.org/packages/Inferno/1.6.0) was released with NetStandard2.0 support.

[2020-03-09 13:51] ronnieoverby opened #30 "`CngKeyExtensions.GetSharedDhmSecret()` fails on .NET core"
I'm using this package version: https://www.nuget.org/packages/Inferno/1.6.0.1

[Your key exchange example](https://securitydriven.net/inferno#DHM%20Key%20Exchange) is failing on .NET Core:

[code]

[code]
I see a .net core specific implementation  at https://github.com/sdrapkin/SecurityDriven.Inferno/blob/65059fcf1fcd1c4e1302cfba9ecc0675d9413b84/Extensions/CngKeyExtensions.cs#L52-L93 and I'm wond

[2020-03-09 18:52] sdrapkin commented on #30
@ronnieoverby Thanks for reporting it. I'm able to reproduce, and confirm that it's a bug.
The offending line is [here](https://github.com/sdrapkin/SecurityDriven.Inferno/blob/65059fcf1fcd1c4e1302cfba9ecc0675d9413b84/Extensions/CngKeyExtensions.cs#L80). It's a classic copy-paste mistake (should be `public..`). 😥

The [test-suite](https://github.com/sdrapkin/SecurityDriven.Inferno.Tests) was not ro

[2020-03-09 20:15] ronnieoverby commented on #30
I'm really glad that I wasn't missing something!

Thanks again for your efforts.

[2020-03-09 21:43] sdrapkin commented on #30
I pushed [Inferno v1.6.2](https://www.nuget.org/packages/Inferno/1.6.2) to Nuget. Please give it a try.

[2020-03-10 19:11] ronnieoverby commented on #30
Fixed. Thanks!

[2020-03-10 19:11] #30 closed

[2020-04-08 00:28] mvacha opened #31 "AesFactory.Aes othrows on Linux"
AesFactory.Aes by default calls `new AesCng()`, which throws `PlatformNotSupportedException` on Linux.

It could call ` new AesCryptoServiceProvider` or `new AesManaged()` as both of these fallback to OpenSSL on Linux. Problem is neither of those are FIPS compliant on Linux/Mac (https://github.com/dotnet/runtime/issues/26037).

**Workaround:** replace call to `AesFactory.Aes` with `Aes.Create` (bu

[2020-04-08 02:38] sdrapkin commented on #31
@mvacha Thx for reporting this issue. Please review commit 6174f0a5e0e51c74574a5a670e0e776c14359b4c, or even test it in your Linux environment.

[2020-04-21 12:15] WolfspiritM commented on #31
I have a similiar problem for Window with .NET Core. The .NET Standard version doesn't seem to work and the workaround won't work aswell cause it's windows.
I think that needs a switch for .netstandard in general:

[code]

[2020-04-21 13:01] sdrapkin commented on #31
@WolfspiritM Can you confirm that the 6174f0a5e0e51c74574a5a670e0e776c14359b4c fix will resolve this issue for you?

[2020-05-12 16:41] mikedoerfler opened #32 "Strong Name of 1.6.2"
Good morning/afternoon/evening Stan, would you consider releasing a 1.6.2 update to Inferno.StrongName?  I've found issue #6 and #26 that indicate this is something you would be willing to do.

If you have a build automation script you use that you would commit I'd be willing to take a shot at it.

[2020-05-12 16:49] sdrapkin commented on #32
@mikedoerfler Hi Mike, thanks for the reminder. It's probably time for v1.6.3, and I have a Linux bug-fix to include in it, so I'll try to sign the v1.6.3 (and keep signing all vNext versions). I'll ping you once the latest signed version is on Nuget.

[2020-05-12 18:10] sdrapkin commented on #32
@mikedoerfler Attached is v1.6.3 (signed). It currently takes a dependency on a preview-version of [SRCS.Unsafe](https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/5.0.0-preview.3.20214.6). I will update Nuget once this dependency is out of preview.

[Inferno.1.6.3.nupkg.zip](https://github.com/sdrapkin/SecurityDriven.Inferno/files/4617610/Inferno.1.6.3.nupkg.zip)

[2020-05-27 15:27] Sx900 opened #33 "Incompatibility with data encrypted <=1.5.3 and later versions"
From what I can tell, if the encrypted data is larger than around 80000 bytes (maybe 81920 bytes), data encrypted with version <= 1.5.3 cannot be decrypted with versions > 1.5.3.  Similarly, data encrypted with versions > 1.5.3 cannot be decrypted by versions <= 1.5.3.

Using this code:
[code]

I get the following exception at the cryptoStream.CopyTo line:
[code]

If the data was encrypted with ve

[2020-05-27 17:16] sdrapkin commented on #33
@Sx900

Correct. There was a insecurity in how multi-chunk encryption was implemented under same-key scenario (chunk-N from file-1 could replace chunk-N from file-2, yet still validate). This has been fixed in v1.6.0.0, but is a breaking change in the multi-chunk usecase. Very low risk of attack-vector, unless it's a special case.

You could keep using v1.5.3 indefinitely. However - if you're able

[2020-05-27 21:20] Sx900 commented on #33
Okay - thanks for the quick response.  I'll look into doing a decrypt/re-encrypt conversion.

Any chance the "Releases" section (https://github.com/sdrapkin/SecurityDriven.Inferno/releases) could be updated to include each Nuget release (the last one listed is 1.5.3)?  The 1.6.0 release notes could highlight the breaking change.

[2020-05-27 21:20] #33 closed

[2020-06-22 07:02] devmod-os opened #34 "Sec,Driven Inferno"
Blaze

[2020-06-24 12:59] #34 closed

[2020-07-11 02:47] ScubaDrew opened #35 "How to get a hash"
The documentation just says

"public static Func<SHA384> HashFactory"

Sorry for such a simple question.

[2020-07-11 18:52] sdrapkin commented on #35
@ScubaDrew:
[code]

HTH

[2020-09-01 22:03] indy-singh opened #36 "ValidateTOTP Leading Zero?"
Hi,

Playing around with the TOTP api, and I noticed that Validate method call takes in a `int` in the second parameter:-

https://github.com/sdrapkin/SecurityDriven.Inferno/blob/554fedb6b8aeff48a51d9a6c8bccc62ab46c64ae/Otp/TOTP.cs#L87

What happens if the code has a leading zero (e.g. 094124)?

Thanks,
Indy

[2020-09-02 02:20] sdrapkin commented on #36
Hi Indy,

nothing happens - an int with a leading zero is still an int. You can also take a look at the official TOTP test vectors - one of them has a leading zero: https://tools.ietf.org/html/rfc6238#appendix-B

[2020-09-02 02:20] #35 closed

[2020-09-02 02:21] #31 closed

[2020-09-03 21:59] indy-singh commented on #36
Hi Stan,

Thanks for the quick answer. I _should_ have tested this before asking the question.

In either case, for anyone else, the leading zero case does _not_ matter:-

[code]

Thanks,
Indy

[2020-09-03 21:59] #36 closed

[2020-10-21 09:02] loligans commented on #10
@sdrapkin I ran into an issue while on MacOS where I cannot use the NETStandard library due to a bcrypt.dll reference missing. Should I create a new issue for this?

[2020-10-23 02:00] sdrapkin commented on #10
@loligans Yes, you can go ahead and create a separate issue for this, to aid in tracking it explicitly (and hopefully to close it when resolved). Inferno currently has several Windows-only dependencies. I should be able to test for `bcrypt.dll` availability and fall back to NetStandard-native CSRNG. I might take some time to validate the fallback, since `DllImport` references are not easily testab

[2020-10-26 17:59] loligans opened #37 "Unable to use Inferno on MacOS or Linux"
@sdrapkin I ran into an issue while on MacOS where I cannot use the NETStandard library due to a bcrypt.dll reference missing.

I was able to fix it by hacking up CryptoRandom with `RNGCryptoServiceProvider`. I simply replaced `CryptoRandom.NextBytes` with `RNGCryptoServiceProvider.GetBytes`.

[2020-12-11 17:54] TimmSkiller opened #38 "Why can AesCtrCryptoTransforms not be reused?"
I had a look in the source and `CanReuseTransform` is always set to `false`. Maybe there is a more technical reason as to why it's like this, I don't know.

[2020-12-12 02:25] sdrapkin commented on #38
@TimmSkiller `CanReuseTransform` is set to `false` for several reasons:

- The transforms are stateful (ex. track current chunk number), and `ICryptoTransform` does not support a "Reset" API.
- The transforms are initialized with a `key` and a `salt`, and these parameters should never be reused for another stream.

HTH

[2020-12-12 02:30] sdrapkin commented on #37
@loligans Thanks for reporting this issue. Making `CryptoRandom` work on non-Windows platforms is among the improvements I plan to implement.

[2020-12-12 02:32] sdrapkin commented on #32
Nuget is updated with v1.6.3.

[2020-12-12 02:32] #32 closed

[2020-12-12 02:33] #10 closed

[2020-12-12 10:25] TimmSkiller commented on #38
I see. Thank you for clarifying!

[2020-12-12 10:25] #38 closed

[2021-01-30 14:17] mrNo0b commented on #37
I think there should be message in readme/nuget info to inform users that it will not work on Linux etc, I used it to build web api .net 5 license system only to find out that problem after I deployed it to Heroku...
I use `SuiteB.Encrypt()`
had to change all the code, then I found this Issue and tried **loligans** solution and it seems to work now, CryptoRandom class was removed, hope it still go

[2021-02-03 18:04] wmate commented on #37
Hi folks, we also are running into this issue (used for linux/windows encryption interop). @loligans what would it take to convince you to submit a pull request? ;)

That might help @sdrapkin and in the meantime help out us community folks who may not be as comfortable ensuring our implementations of randomness are random enough.

[2021-02-07 21:49] loligans commented on #37
I wouldn't mind submitting a PR but I don't think my fix would meet the Inferno standards when it comes to security.

[2021-04-18 04:01] sdrapkin commented on #37
Inferno [v1.6.4](https://www.nuget.org/packages/inferno) was released on Nuget - should fix this issue.

[2021-04-26 02:33] #37 closed

[2021-05-15 23:52] StingyJack commented on #35
@sdrapkin - is the value expected to be salted/peppered prior to handing off to the hash factory?

[2021-08-26 06:52] drauch opened #39 "Is there a changelog file somewhere?"
Hi!

Is there a changelog file for this project somewhere?

Best regards,
D.R.

[2021-08-26 15:44] #39 closed, assigned to nobody

[2021-10-07 23:20] Erutan409 commented on #15
@sdrapkin I just came to this realization by going through the source code and reverse-engineering what this was doing. Then finding this cemented my understanding.

I'd strongly encourage you to note this, explicitly, on in your documentation/website.

[2022-01-14 11:47] BlackBooth commented on #17
Maybe I'm a little late to the party but here is the example from above with Alice using a `SharedEphemeralBundle`. You can use it if you need an temporary (ephemeral) key to communicate with Bob:

[code]

[2022-08-23 14:19] ItSkary opened #41 "SuiteB Encryption/Decription of data does not match"
Greetings,
probably i mistakenly used some API but i have followed example of code usage, and try to test latest version of the library (version 1.6.4, the latest on nuget) to crypt/decrypt some data.

Here the dummy example i have write to test how to use library :

[code]

![image](https://user-images.githubusercontent.com/6507710/186182155-39fc04c9-fe19-4ce8-b923-a1026c3243e6.png)

As you can s

[2022-08-23 17:57] sdrapkin commented on #41
[code]

[2022-08-24 11:23] ItSkary commented on #41
Ah thank a lot. Tomorrow I will test it, but I have no doubt that my misunderstanding is the cause of the issue.
Thanks again for the clarification and swift answer

[2022-08-26 09:17] ItSkary commented on #41
I can confirm adding FromBytes() solve the issues

[2022-08-26 09:17] #41 closed

[2022-11-18 10:23] ItSkary opened #42 "Support encryption/decryption through TPM"
Recently with Windows 11 Microsoft has made mandatory the use of TPM.
I would like to know if there is some plan to implement some Inferno API to TPM, to easily encrypt/decrypt things using the device as password.

[2022-11-21 21:01] sdrapkin commented on #42
Microsoft Research has an experimental TPM-Software-Stack (TSS) implementation: https://github.com/Microsoft/TSS.MSR, which claims to offer TPM services for secure cryptographic key generation & management.

Inferno does not concern itself with key-management, which is outside its scope.

[2022-11-28 23:47] ItSkary commented on #42
Wow really precious information, I really miss the existence of this .Net library.
Thanks a lot for pointing out.